/* 이미지를 가로 기준으로 가득 차도록 확대 */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; /* 수평 스크롤은 숨깁니다. */
}

img {
    width: 100vw; /* 이미지의 너비를 뷰포트의 너비로 설정하여 가로로 가득 채웁니다. */
    height: auto;
    display: block; /* 이미지를 블록 요소로 설정하여 다른 요소와의 간격을 생성합니다. */
    margin: 0 auto; /* 이미지를 수평 중앙 정렬합니다. */
}
