/* 이미지를 가로 기준으로 가득 차도록 확대 */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden; /* 수평 스크롤은 숨깁니다. */
}

img {
    width: auto; /* 이미지의 너비를 자동으로 조정하여 가로로 가득 채우지 않습니다. */
    max-width: 100%; /* 이미지의 최대 너비를 화면 너비에 맞게 조정합니다. */
    height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
    display: block; /* 이미지를 블록 요소로 설정하여 다른 요소와의 간격을 생성합니다. */
    margin: 0 auto; /* 이미지를 수평 중앙 정렬합니다. */
}
